<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleDisplayName</key>
	<string>Relay</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>Relay uses the microphone to turn spoken Codex prompts into text.</string>
	<key>NSCameraUsageDescription</key>
	<string>Relay uses the camera to scan the code shown by the relay CLI.</string>
	<key>UIAppFonts</key>
	<array>
		<string>DMSans.ttf</string>
		<string>DMMono-Regular.ttf</string>
	</array>
	<key>POCVaultManifestURL</key>
	<string>$(POC_VAULT_MANIFEST_URL)</string>
	<key>POCVaultCodexBaseURL</key>
	<string>$(POC_VAULT_CODEX_BASE_URL)</string>
	<key>RelayAuthBaseURL</key>
	<string>$(RELAY_AUTH_BASE_URL)</string>
	<key>POCVaultSignatureURL</key>
	<string>$(POC_VAULT_SIGNATURE_URL)</string>
	<key>POCVaultManifestPublicKey</key>
	<string>$(POC_VAULT_MANIFEST_PUBLIC_KEY)</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>
